@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

html, body, #root {
  margin: 0;
  font-family: 'Zen Loop', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

* {
  font-family: 'Zen Loop', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
